In [1]:
import findspark
findspark.init('/home/ubuntu/spark-3.2.0-bin-hadoop3.2')

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ubuntu/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/12/23 14:06:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Setting schema

In [17]:
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType)

In [18]:
data_schema = [StructField('age',IntegerType(),True),
               StructField('name',StringType(),True)]

In [19]:
final_struc = StructType(fields=data_schema)

## Reading json

In [21]:
df = spark.read.json('../data/Spark_DataFrames/people.json', schema=final_struc)

In [22]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [23]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

## Basic operations

### Select

In [27]:
# This doesn't return a dataframe....
type(df['age'])

pyspark.sql.column.Column

In [28]:
# This does
print(type(df.select('age')))
df.select('age').show()

<class 'pyspark.sql.dataframe.DataFrame'>
+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

### Making cols

In [29]:
# Creating a new column -- _not inplace_
df.withColumn('newage',df['age']*2).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [30]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## Spark SQL

In [ ]:
df.createOrReplaceTempView('people')

In [34]:
results = spark.sql("SELECT * FROM people where name = 'Andy' ")

In [35]:
results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+